<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
            <p>
             I'm a passionate front-end web developer dedicated to creating immersive and user-friendly digital experiences. With a strong foundation in web technologies and a keen eye for design, I transform ideas into visually appealing and interactive websites.
            </p>
            <p>I specialize in crafting elegant, responsive, and pixel-perfect websites that not only look great but also function seamlessly across various devices and browsers. My goal is to deliver websites that captivate users, enhance brand identity, and drive results.</p>
        </div>
        <div class="about-img">
            <Image src='/assets/about.jpeg' class="profile-img" alt="Joe and animal relaxing and having fun" />
        </div>
    </div>
</div>