<div class="about-container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="about-text">
        <p>
        When the time came to upgrade my outdated computer, I embarked on the journey of building a "Hackintosh" using second-hand PC parts and relying on the comprehensive OpenCore documentation. I spent around 20 hours assembling the hardware and software, poring through documentation and troubleshooting various issues during the build process. However, with each problem solved, I experienced a sense of accomplishment and a rush of satisfaction. This led me to explore further, delving into programming, where the pursuit of problem-solving has proven consistently rewarding.
        </p>
        <p>
        My coding journey began with a structured course covering the fundamentals of HTML, CSS, JavaScript, Express, Node.js, and React, among other libraries and technologies. Building upon this foundation, I have successfully completed two personal projects that surpass the initial learning stage. These projects utilize cutting-edge technologies such as Redis and Websocket to explore real-time gameplay and interaction among multiple online users, showcasing a level of complexity beyond a simple day-planner.
        </p>

            
        </div>
        <div class="about-img">
            <Image src='/assets/aboutmepic.jpg' class="profile-img" alt="Tyler playing guitar at an open-mic night" />
        </div>
    </div>
</div>