<div class="contact-container">
    <h2>Get In Touch</h2>
    <p>If you want us to work together, or have any question, my inbox is always open. I will get back to you as soon as I can! Feel free to message me through any of my social links below as well. Thanks for stopping by!</p>
    <a href="mailto:thetylerbrooks@gmail.com" class='cta-btn'>Say Hello</a>
</div>