
<hr />
<div class="footer-container">
    <p>© {% year %} Tyler's Portfolio</p>
    <div class="social_icons">
        <a
            href="https://www.instagram.com/tylerbrooks_music/"
            aria-label="Instagram"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a
            href="https://github.com/Tbro4"
            aria-label="GitHub"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-github"></i>
        </a>
        <a
            href="https://www.linkedin.com/in/tyler-brooks-99712b228/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>