<div class="hero-container">
    <img src='assets/tbrooksg.jpg' class="profile-img" alt="Tyler's personal headshot" />
    <div class="hero-text">
        <h1>Hey, I'm Tyler 👋</h1>
        <p>
            I'm a full-stack software developer based in Denver, Colorado. For the last two years I've been honing my programming skills, and now I'm ready to hit the ground running and help your company create sleek, efficient products. 
        </p>
        <div class="social-icons">
            <a target="_blank" rel="noopener noreferrer"" href="https://www.instagram.com/tylerbrooks_music/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Tbro4">
                <i class="fa-brands fa-github"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tyler-brooks-dev/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>
