<div class="hero-container">
    <img src='assets/tbrooksg.jpg' class="profile-img" alt="Tyler's personal headshot" />
    <div class="hero-text">
        <h1>Hey, I'm Tyler 👋</h1>
        <p>
            I'm a software developer based in Denver, Colorado. I specialize in building (and occasionally designing) exceptional websites, applications, and everything in between.
        </p>
        <div class="social-icons">
            <a target="_blank" rel="noopener noreferrer"" href="https://www.instagram.com/tylerbrooks_music/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Tbro4">
                <i class="fa-brands fa-github"></i>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tyler-brooks-99712b228/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>
