<div class="nav-container">
    <div class="logo">
        <a href="/">
            T.
        </a>
    </div>
    <div class="nav">
        {% if page.url == '/' %} {# Check if on the homepage #}
            <a href="#about" class="link">
                About
            </a>
            <a href="#skills" class="link">
                Skills
            </a>
            <a href="#contact" class="link">
                Contact
            </a>
        {% endif %}
        <a href="/projects" class="link no-scroll">
            Projects
        </a>
        <a href="../assets/resume.pdf" class="cta-btn">Resume</a>
    </div>
</div>
