<div class="skills-container">
    <h2>Skills</h2>
    <div class="grid-skills">
        <div class="skill-card html">
            <i class="fa-brands fa-html5 html-icon"></i>
            <p>HTML</p>
        </div>
        <div class="skill-card css">
            <i class="fa-brands fa-css3-alt css-icon"></i>
            <p>CSS</p>
        </div>
        <div class="skill-card js">
            <i class="fa-brands fa-js-square js-icon"></i>
            <p>JavaScript</p>
        </div>
        <div class="skill-card react">
            <i class="fa-brands fa-react react-icon"></i>
            <p>React</p>
        </div>
        <div class="skill-card node">
            <i class="fa-brands fa-node-js node-icon"></i>
            <p>Node</p>
        </div>
        <div class="skill-card graphql">
            <i class="fa-brands fa-graphql graphql-icon"></i>
            <p>GraphQL</p>
        </div>
        <div class="skill-card jquery">
            <i class="fa-brands fa-js jquery-icon"></i>
            <p>jQuery</p>
        </div>
        <div class="skill-card bootstrap">
            <i class="fa-brands fa-bootstrap bootstrap-icon"></i>
            <p>Bootstrap</p>
        </div>
        <div class="skill-card mui">
            <i class="fa-brands fa-mui mui-icon"></i>
            <p>MaterialUI</p>
        </div>
        <div class="skill-card git">
            <i class="fa-brands fa-git git-icon"></i>
            <p>Git</p>
        </div>
        <div class="skill-card docker">
            <i class="fa-brands fa-docker docker-icon"></i>
            <p>Docker</p>
        </div>
    
    </div>
</div>
