---
layout: layouts/base.njk
title: Home
---
{% include "components/hero.njk" %}
<div id="about">{% include "components/about.njk" %}</div>
<div id="skills">{% include "components/skills.njk" %}</div>
<div id="contact">{% include "components/contact.njk" %}</div>
